body {
	background-color: #523620;
	color: #fff;
	font-family: 'Grupo3';
	font-size: 150%;
	margin: 0px 0px 0px 0px;}

h1 {
	background-image: url(https://lh3.googleusercontent.com/iChpVUcNpt4U6R2Jq3zIR-5wzwNCeI63VTYUiWEyJJEFk0PRyOflWxjUCJT1tXUY2P69hzKdbRfaQLJZTyrAfDa0SAxxC0rF68Mhhmoaze8Rpv_8UPsWPDLLeywPgM1yuSm0rDQfPrN7HLDbslPjRvQAeBNk_wT9hxea5EBZ-6fIJoYUsEPHqEX23ZayIgxKRbwqjr4yjeCqtdSSDcHQqcBkdcQybPORSwmqCuA0fE7bvVyF91pYWfC20RDXq6kiP5PxpCTZOsSjTL1wfzxtTcJRNs-GCD4ohPb3wS5ZGpJCkq3FrtaUJGp_at0a-GBkZJTcW5LHB26GdQCvHPXiOa9nKlGISouFVm-CxpZwQJqiGBiPwqKAjVQoHcmcYB8AwwWpUAinsBEXxQuwrT9_A07EczmYiu0FVVaRj3J06xCh4EeZJVPft3l9MSAbXsrO5Xj4zgPexs5yg-Xmz0-g4FRueT7Rjvg3Fs6X5pE309SqDbekfD4qgDI4WowKL78ppzfxe4l_IsoQeX5mG8GekxTy0mm-o5Sd0ihGxahUl_ygIs6MY-xzGFTbcPf5KVtRVdwu4VHL5ToUkttfcUdXt117gjWFGzJW4u6-7OLj7npIbziCJzjFYdefS8ic1Wox1br3JBF2RYKMfBeNTBa0hhP9QoroMKq2ce9SyiHpEjQ7PawqDSu13O0Wmag4nqrIDqcxljjeiu0CUTW7Zfn9ChI=w620-h136-no?authuser=0);
	background-repeat: no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 109px;
	width: 643px;
	margin: 40px auto;}

#teacher {
	float:right;
	margin:0px 30px 0px 0px;}
#teacher2 {
	float:right;
	margin:135px 30px 0px 0px;}

#page1, #page2 {
	background-color: #fecc6f;
	height: 596px;
	padding: 10px;
	min-width: 779px;}
#page2 {
	height: 730px;}

#answer {
	border: 12px double #fff;
	color: #523620;
	text-align: left;
	padding: 20px;
	margin: 70px auto 10px auto;
	width: 250px;
	text-align: center;}

#blackboard {
	background-color: #425a5a;
	border: 25px solid #523620;
	border-radius: 20px;
	padding: 40px 20px;
	margin: 0px auto;
	height: 370px;
	width: 600px;
	text-align: center;}
