body {
  background-image: url("https://media.istockphoto.com/vectors/abstract-blurred-colorful-background-vector-id1185382671?k=6&m=1185382671&s=612x612&w=0&h=IBwXnZ6t2aDq1wRUGkNB8B_ZdpaoOYuXgs6IBUnX1j4=");
}

.row { 
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}
#container {
  margin-top: 25%;
  margin-left: 10%
  margin-right: 10%
  
}
.spaceOne {
  border-width: 1px;
  border-style: solid;
  width: 10%;
  height: 150px;
  background-color: white;
  float: left;
}
.spaceTwo{
  border-width: 2px;
  border-style: double;
  width: 10%;
  height: 70px;
  background-color: black;
  float: left;
}

.clear { 
  clear:both;
}

