.row { 
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}

.spaceOne {
  border-width: 1px;
  border-style: solid;
  width: 10%;
  height: 100px;
  float: left;
}
.spaceTwo{
  border-width: 2px;
  border-style: double;
  width: 10%;
  height: 100px;
  background-color: grey;
  float: left;
}

#clear { 
  clear:both;
}
