body {
  background-image: url("https://t3.ftcdn.net/jpg/02/42/77/22/360_F_242772256_PRwokoyoXkDCIISNjfj9N3If0TPFtje8.jpg");
}

#title{
  position: fixed;
  font-family: 'RabbidHighwaySignIVRegular';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  background-color: blue;
  padding: 5px;
  width: 100%;
  top: 0px;
  z-index: 10;
}

.row { 
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}
#container {
  margin-top: 25%;
  margin-left: 10%
  margin-right: 10%
}

.spaceOne {
  border-width: 1px;
  border-style: solid;
  width: 10%;
  height: 105px;
  background-color: white;
  float: left;
}

.spaceTwo{
  border-width: 2px;
  border-style: double;
  width: 10%;
  height: 100px;
  background-color: black;
  float: left;
}

#footer {
  text-align: center;
  background-color: pink;
}

.clear { 
  clear:both;
}

