
body {
font-family: 'DancingScriptRegular';
color:#665544;
padding:15px;
}

h1 {
text-align:center;
color:blue;
font-family:'DancingScriptRegular';
font-size:400%;
}

i, a, a:hover, a:visited {
color: #665544;
}
