* {
  font-size: 33px;
}
#nav{
  text-align:center;
  width: 85%;
  float: right;
  list-style-type:none;
  font-family:Arial;
  min-width: 50px;
  max-width: 1500px;

}
#nav li{
  display:inline;
  float: left;
  margin-left: 0px;
  margin-right: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

#intro{
  display:block;
}
