body {
font-family: 'DancingScriptRegular';
color: #665544;
padding: 0 15% 0 15%;
}

h1 {
text-align:center;
color: blue;
font-family:  'DancingScriptRegular';
font-size: 400%;
}

body p {
font-family: 'DancingScriptRegular';
font-size: 200%:
  font-style: normal;
  font-weight: normal;

i {
color: darkgreen;
}
